@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:wght@200..900&family=Roboto:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
  font-family: "Mona Sans", sans-serif;
  font-weight: 500;
}

body {
  background-color: black;
}
